*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    padding-top: 30px;
}
.title h1{
    color: #6c757d;
    font-size: 16px;
    font-family: "Roboto-400" sans-serif;

}
.news{
    margin-top: 50px;
    height: 250px;

}
.parag{
    height: 200px;
    padding: 15px;
}
.ip {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

}
.wive{
    display: flex;
    align-items: center;
    gap: 10px;
}
.wive img{
    margin-bottom: 10px;
}

.rasmlar{
    width: 200px ;
    height: 200px ;
    overflow: hidden;
    border-radius: 10px;
}
.rasmlar img{
    width: 200px ;
    height: 200px ;
    transition: 0.25s;
    vertical-align: middle;
    border-style: none;
}
.rasmlar:hover img{
    /* width: 440px;
    height: 220px; */
    cursor: pointer;
    transform: scale(1.18);
}
.pros{
    display: flex;
    justify-content: right;
}



/* Responsive */

@media(max-width:992px){
    .ip{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .news{
        margin-bottom: 350px;
    }
}
@media(max-width:768px){
    .news{
        margin-bottom: 380px;
    }
}
@media(max-width:557px){
    .news{
        margin-bottom: 410px;
    }
}
@media(max-width:485px){
    .news{
        margin-bottom: 500px;
    }
}
@media(max-width:427px){
    .news{
        margin-bottom: 550px;
    }
}
@media(max-width:379px){
    .news{
        margin-bottom: 600px;
    }
}
@media(max-width:351px){
    .news{
        margin-bottom: 650px;
    }
}  
@media(max-width:323px){
    .news{
        margin-bottom: 700px;
    }
    .wive P{
        font-size: 13px;
    }
} 
@media(max-width:310px){
    .news{
        margin-bottom: 750px;
    }
}
@media(max-width:286px){
    .news{
        margin-bottom: 800px;
    }
}